<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Варианты выбора</title>
</head>
<body>
    <div class="alert alert-danger" role="alert" style="text-align: center">
        <h1>{{planet_name}} не является планетой Солнечной системы</h1>
    </div>
</body>
</html>